<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Name</label><br>
            <input type="text" name="name" value="{{person.name}}" />
        </p>
        <p>
            <label>Phone number</label><br>
            <input type="number" name="number" value="{{person.phone}}" />
        </p>
        <p>
            <label>Describe your problem!</label><br>
            <input type="text" name="description" value="{{person.description}}" />
        </p>
        <input type="submit" value="Save" >
    </form>
</body>
</html>