<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Liveliness</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static 'styles/layout.css' %}" rel="stylesheet" type="text/css" media="all ">
    <!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">

</head>
<body id="top">

{% for s in surgeon %}
<div class="bgded" style="background-image: url({{s.image.url}})" >
    <div class="wrapper overlay">
        <header id="header" class="hoc clear">
            <nav id="mainav" class="clear">
                <ul class="clear: none">
          <li><a href="/">Home Page</a></li>
          <li><a href="../Dentist/">Dentistry</a></li>
          <li class="active" ><a href="../Surgeon/">Surgery</a></li>
          <li><a href="../Pediatrician/">Pediatrics</a></li>
          <li><a href="../Gynecologist/">Gynecology</a></li>
          <li><a href="../AboutAs/">About us</a></li>
        </ul>

          </nav>
      <div id="logo">
        <h1>{{s.title}}</h1>
        <h4>{{s.description}}</h4>
      </div>
    </header>
  </div>
{% endfor %}

  {% for i in stateh %}
  <div id="pageintro" class="hoc clear">
    <article>
      <div class="introtxt">
        <p class="font-xs nospace"></p>
        <h4 class="heading">{{i.title}}</h4>
        <p>{{i.description}}</p>
      </div>
  {% endfor %}
      <footer>
        <ul class="nospace inline pushright">
        </ul>
      </footer>
    </article>
  </div>
</div>

<h1></h1>
{% for i in backtext2h %}
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="center btmspace-50">
      <h2 class="heading">{{i.title}}</h2>
        <h3>{{i.description}}</h3>
    </div>
  {% endfor %}
      {% for i in postsh %}
    <ul  class="nospace group blocks">
      <li class="one_quarter first bgded overlay"  style="background-image: url({{i.image.url}})" >
          <a href="../AboutAs/">{{i.title}}</a></li>
    </ul>
      {% endfor %}
    <div class="clear"></div>
  </main>
</div>
{% for t in posts2h %}
<div class="" style="background-image: url({{t.image.url}})">
  <section id="testimonials" class="hoc container clear">
    <div class="center btmspace-50">
      <h2  class="heading" style="color:black" >{{t.title}}</h2>
      <p style="color:black" >{{t.description}}</p>
    </div>
{% endfor %}
        <ul class="nospace group">
            <li class="one_half first">
                {% for y in doctor1h %}
                <div  class="clear" ><img src={{y.image.url}} alt=""> <span
                        class="block"><strong>{{y.title}}</strong> </span>
                    <blockquote>{{y.description}}</blockquote>
                </div>
                {% endfor %}
            </li>
        </ul>
  </section>
</div>

<div class="wrapper row3">
  <section class="hoc container clear">
    <div class="center btmspace-50">
      <h2 class="heading">Advantages of our surgery</h2>
    </div>
      {% for i in newsh %}
    <ul class="nospace elements">
      <li class="one_third first">
        <article><img src={{i.image.url}} alt="">
          <div class="txtwrap">
            <h6 class="heading">{{i.title}}</h6>
            <p>{{i.description}}</p>
          </div>
        </article>
      </li>
    </ul>
      {% endfor %}
  </section>
</div>
<div class="wrapper coloured">
  <div class="hoc clear">
  </div>
</div>
 <div class="txtwrap">
     <h2 align="center" class="heading">Our location</h2>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.6983308511635!2d74.61319802182426!3d42.83698575594953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb6134a23b575%3A0x58fd671c6fdd4bf!2zMjgg0YPQuy4g0KHRg9C10YDQutGD0LvQvtCy0LAsINCR0LjRiNC60LXQug!5e0!3m2!1sru!2skg!4v1670464549058!5m2!1sru!2skg" align="center" width="1320" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
{% for i in kontact %}
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <div class="one_quarter first">
      <h6 class="title">{{i.title}}</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>{{i.adress}}</address>
        </li>
        <li><i class="fa fa-phone"></i>{{i.phonenumber}}<br>{{i.mainphone}}</li>
        <li><i class="fa fa-envelope-o"></i>{{i.email}}</li>
      </ul>
    </div>
  </footer>
</div>
{% endfor %}
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left">Bodrost &copy; 2022 </p>
    <p class="fl_right">Thank you for visiting our site!!!</p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
<!-- IE9 Placeholder Support -->
<script src="layout/scripts/jquery.placeholder.min.js"></script>
<!-- / IE9 Placeholder Support -->
</body>
</html>

